 html {
  scroll-behavior: smooth;
}

body {
      position: relative; 

      font-family: 'Open Sans';
      font-size: 1.2em;
      line-height: 1.75;
      -webkit-font-smoothing: antialiased;
  }

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

  /*Buttons*/
.btn {
	font-size: 1.2rem;
}
.btn-sm {
	font-size: .85rem;
}
.btn-prim {
	color: #006680ff;
    background-color: #ffffff;
    /*border-color: #dae0e5;*/
    /*#006680ff*/
    /*border-color: #105e22;*/
    border-color: #004455ff;
    border-width: 1.5px;
}
.btn-prim:hover {
	color: #006680ff;
    background-color: #e9ecef;
    border-color: #dae0e5;
}

.btn-sec {
	color: #ffffff;
    background-color: #004455ff;
    border-color: #dae0e5;
}
.btn-sec:hover {
	color: #ffffff;
    background-color: #012f3a;
    border-color: #dae0e5;
}

.go-top-button {
    visibility: hidden;
    position: fixed;
    right: 4%;
    text-align: center;
    transform: translateY(100px);
    transition: all .5s ease;
    z-index: 5;
    height: 50px;
    width: 50px;
    background: #91b6c2;
    color: white;
    border: 0;
    border-radius: 6px;
    bottom: 17%;
    box-shadow: 0 3px 11px rgb(0 0 0 / 50%);
    outline: 0;
    padding: 0;
}

.go-top-button:hover, .go-top-button:focus {
  background: #3a6b7a;
}
.go-top-button i:before {
  vertical-align: -0.55em;
  font-size: 24px;
}

 /*Links*/
.link-prim {
	color: #006680ff;
}

a.link-prim:hover {
  color: #006680ff;
}

.btn-link-btn {
	color: #006680ff;
    background-color: #ffffff;
    border:none;
}
.btn-link-btn:hover {
	color: #006680ff;
    background-color: #e9ecef;
    border:none;
    outline: none;
}

.list-group-item {
    border: none;
}
.list-group-item-action {
    color: #006680ff;
    font-size: 1.4rem;
}
.list-group-item-action:hover {
    color: #006680ff;
    text-decoration: underline;
}
/*headers*/
h1,h2,h3,h4 {
	color: #004455ff;
}

h1 {
	font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 2rem;
}

h2 {
	/*color: #35accb;*/
}

h3 {
	font-size: 1.5rem;
}

h4 {
  margin-top: 1em;
}
.header-prim {
	color: #006680ff;
	/*color: #35accb;*/
    font-size: 55px;
    /*font-weight: bold;*/
    padding: 0.25em 0 0.25em;
}

.header-big {
	color: #35accb;
    font-size: 45px;
    /* font-weight: bold; */
    padding: 0.25em0 0.25em;
}

.navbar {
	font-size: 1.2em;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,1);
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255,255,255,1);
}

.bg-marine {
	background-color: #004455ff; 
}

h5.usecaseTitle {
	font-size:1.8rem;
}

.bgImage {
	width: 100%;
}
.bottombgImage {
    background: url('river_branching.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    height: 326px;
    width: 100%;
}

.topbgImage {
	background: url(river_branching.png);
	background-image: linear-gradient(rgba(0, 68, 85, 0.5), rgba(0, 0, 0, 0.5)), url(river_branching.png);
	background-repeat: repeat;
    height: 200px;
    background-position: center;
    background-color: #f8f9fa;
	height: 50%;
	height: 30px;


	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.bottombgImageVer2 {
	background: url(river_branching.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    background-color: #c3c5c1;
}

.bottombgImage-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.topbgImageVer2 {
	background: url(river_branching.png);
    background-repeat: repeat;
    height: 180px;
    background-position: center;
    background-color: #f8f9fa;
}

.ml-auto-push{
	margin-left: auto !important;
}

.nav-container{
    padding:0 10px 0 10px;
}

@media screen and (max-width: 920px) {
    .nav-container {
        padding:0;
    }
}

@media screen and (min-width: 575.98px) {
	 .fixed-top-lg {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}
	.ml-2-p {
		margin-left: 0.5rem!important;
	}
}

@media screen and (max-width: 575.98px) {
	.sect-sp-sm {
		/*padding-top:350px;*/
		padding-top:60px;
	}
  .title-msg{
    visibility: hidden;
    display: none;
  }
}

/*@media screen and (max-width: 767.98px) and (min-width: 575.98px)  {
	.sect-sp-md {
		padding-top:80px;
	}
}*/


@media screen and (max-width: 991.98px) and (min-width: 575.98px) {
	.sect-sp-md {
		padding-top:80px;
	}
  .title-msg{
    visibility: hidden;
    display: none;
  }
}


@media screen and (max-width: 1199.98px) and (min-width: 991.98px){
	.sect-sp-lg {
	padding-top:70px;
	}
}


@media screen and (min-width: 1199.98px){
	.sect-sp-lg {
	padding-top:70px;
	}
}

.repoImg {
	height: 120px;
}
.repoLogoBtn{
	height: 200px;
}
.btn-logo-size {
	display: block;
    width: 315px;
}

.peoep-breadcrumb{
	background-color: white;
}
.breadcrumb-item a{
	color: #004455ff;
	font-weight: bold;
}

/*sections*/
.psection {
	padding-top:70px;
}


.stop-stretchlink {
	transform: rotate(0);
	position: relative;
	width: fit-content;
}

.panel {
 	overflow-x: auto;
 	padding: 5rem 0;
}

.sroll {
	overflow-x: scroll;
}
.ProgressTbl {
	max-width: 1060px;
}

/*content: "\f231";*/
ul li.arrow-list {
    display: block;
}

ul.arrow-list {
  list-style-type: none;
}
.arrow-list li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f231";
    font-family: 'bootstrap-icons';
    font-size: 20px;
    float: left;
    margin-top: 7px;
    margin-left: -27px;
    color: #006680ff;
        display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
}



.show {
  visibility: visible;
}